.btn.mulai{
  background-color: #078080;
  width: 120px;
  border-radius: 20px;
  font-weight: 700;
  margin-top: 20px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 1);
}
.btn.mulai:hover {
  box-shadow: 0 1.5rem 2rem 0 rgba(0, 0, 0, 8.5);
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(61, 61, 61, 0.25);
}
.nav-masthead .nav-link {
  margin-left: 0.5rem;
}

.jumbotron {
  background-color: #f8f5f2;
  text-align: center;
  font-family: 'Quicksand';
}

/* Profil */
.btn-custom{
  background-color: #078080;
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
}
.btn-custom:hover {
  box-shadow: 0 1.5rem 2rem 0 rgba(0, 0, 0, 8.5);
}
.profil .judul {
  font-family: 'Roboto Slab'; 
  font-weight:800;
  font-size:50px; 
  z-index:2;
}
.profil img {
  position: relative;
  z-index: 1;
}
.profil p {
  font-family: 'Roboto';
  font-size:18pt;
}
section.profil {
  margin-top: 10rem;
}



/* kegiatan */
.kegiatan .judul {
  font-family: 'Roboto Slab'; 
  font-weight:900;
  font-size:50px; 
  z-index:2;
}
.kegiatan img {
  position: relative;
  z-index: 1;
}
.kegiatan .gambar-content, .profil .gambar-content {
  margin-top: -10rem;
}
.kegiatan p {
  font-family: 'Roboto';
  font-size:18pt;
  text-align: right;
}
section.kegiatan {
    margin-top: 15rem;
}
.gambar:hover{
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 1);
}

/* portofolio */
section.portofolio {
    margin-top: 9rem;
}
.portofolio img {
  position: relative;
  z-index: 1;
}
.portofolio .judul-home {
  font-family: 'Roboto Slab'; 
  font-weight:800;
  font-size:50px; 
  z-index:2;
  margin-left: -4rem;
  margin-top: 1.4rem;
}
.portofolio .judul {
  font-family: 'Roboto Slab'; 
  font-weight:800;
  font-size:50px; 
}
.portofolio .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    }
}

@media screen and (max-width: 1024px) {
  .column {
      -ms-flex: 25%;
      flex: 25%;
      max-width: 25%;
      }
  }
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    }
}
/* lightbox */
.portofolio .lightbox img {
    width: 100%;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.portofolio .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

/* acara */
section.acara {
  margin-top: 9rem;
}
.acara .judul {
  font-family: 'Roboto Slab'; 
  font-weight:800;
  font-size:50px; 
}

/* artikel */
section.artikel {
  margin-top: 7rem;
}
.artikel .judul {
  font-family: 'Roboto Slab'; 
  font-weight:800;
  font-size:50px; 
}
.artikel .form-control:focus {
  box-shadow: none;
}

.artikel .form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
.artikel .form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}
.artikel form {
  width: 30rem;
}
.card {
  margin-top: 4rem;
  margin-right: 0.5rem;
}



@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 60px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #ffffff;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    background-color: #ffffff;
    visibility: visible;
    padding-left: 1rem;
    padding-right: 5rem;
    transform: translateX(-100%);
  }
}
@media  (max-width: 700px){
  .jumbotron .alamat {
    font-size: 9pt;
  }
  .jumbotron .display-4 {
    font-size: 20pt;
  }
  .profil .gambar-content, .kegiatan .gambar-content{
  margin-top: 0rem;
  }
  section.profil {
    margin-top: 5rem;
  }
  section.kegiatan {
    margin-top: 5.5rem;
  }
  .kegiatan .judul, .profil .judul{
    font-size: 30px;
    text-align: center;
  }
  .portofolio .judul {
    font-size:40px; 
  }
  .profil p, .kegiatan p, .profil a {
    font-size: 13pt;
    text-align: center; 
  }
  .gambar {
    margin-top: 1rem;
  }
  .acara .judul {
    font-family: 'Roboto Slab'; 
    font-weight:800;
    font-size:40px; 
  }
  .portofolio .judul {
    font-family: 'Roboto Slab'; 
    font-weight:800;
    font-size:40px; 
  }
  .portofolio .judul-home {
    font-size:40px; 
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .kegiatan .judul, .profil .judul{
    font-size: 25px;
  }
  .profil p, .kegiatan p, .profil a {
    font-size: 12pt;
  }
  .profil .gambar-content, .kegiatan .gambar-content{
  margin-top: -6rem;
  }
  .portofolio .judul-home {
    font-size:37px; 
  }
}

@media  (min-width: 768px){

  .portofolio .judul-home {
    font-size:35px;
    margin-left: -4rem;
    margin-top: 1.8rem;
  }
}
